<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationExercise Suite">

    <!-- Run UI tests -->
    <test name="UI Tests">
        <packages>
            <package name="ui"/>
        </packages>
    </test>

    <!-- Run API tests -->
    <test name="API Tests">
        <packages>
            <package name="api"/>
        </packages>
    </test>

</suite>
